.catalogo-container {
  padding: 30px;
  text-align: center;
  background: #d4d4d4;
  
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
  }

  h3 {
    margin: 10px 0;
    font-size: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    font-size: 16px;
    
    &:hover {
      background: purple;
    }
  }
}
