.contacto-page {
  width: 60%;
  margin: auto;
  padding: 30px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form-control {
    display: flex;
    flex-direction: column;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  button {
    padding: 10px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;

    &:disabled {
      background: gray;
      cursor: not-allowed;
    }
  }

  .error {
    color: red;
    font-size: 0.9rem;
  }
}
