.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e1e1e1;
  padding: 15px 40px;
  border-bottom: 2px solid #000;

  .logo img {
    width: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;

    a {
      text-decoration: none;
      font-size: 20px;
      font-weight: 600;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
